/*-----QWidget------------------------------------------------------------------------------------------------------------------------------------*/ 
QWidget { background-color: rgb(41,41,41); color: rgb(191,191,191); border-color: rgb(7,7,7); selection-border-radius: 3px; selection-color: rgb(0,0,0); selection-background-color: rgb(255,144,38); font-family: DejaVu Sans Condensed; font-size: 12px; font-weight: normal; }


/*-----QLabel-------------------------------------------------------------------------------------------------------------------------------------*/
QLabel { background-color: transparent; color: #ffffff; }

QLabel::disabled { background-color: transparent; color: #656565; }


/*-----QMenuBar------------------------------------------------------------------------------------------------------------------------------------*/ 
QMenu { border-style: solid; border-width: 15px; border-color:rgb(30,30,30); }

QMenuBar::item { color: rgb(137,137,137); border-style: solid; border-width: 1px; border-radius: 3px; border-color: rgb(30,30,30); padding: 4px 5px; }

QMenuBar::item:pressed { color: rgb(251,251,251); background-color: rgb(41,41,41); border-color:rgb(0,0,0); }


/*-----QToolTip-----------------------------------------------------------------------------------------------------------------------------------*/
QToolTip { background-color: rgb(65,65,65); color: rgb(251,251,251); padding: 5px; border-style: none; }


/*-----QPushButton------------------------------------------------------------------------------------------------------------------------------------*/ 
QPushButton { background-color: rgb(62,62,61); border-color: rgb(29,29,29); border-radius: 3px; }

QPushButton::disabled { background-color: rgb(55,55,55); color: rgb(106,106,106); border-color: rgb(45,45,45); }

QPushButton::hover { border-style: solid; border-width: 1px; border-radius: 3px; border-color: rgb(181,181,181); }

QPushButton:flat { background-color: rgb(56,56,55); border-style: solid; border-width: 1px; border-color: rgb(29,29,29); border-radius: 3px; }

QPushButton:flat:hover { border-color: rgb(181,181,181); }


/*-----QTextEdit------------------------------------------------------------------------------------------------------------------------------------*/
QTextEdit { background-color: rgb(109,109,109); color: rgb(255,255,255); border-color: rgb(9,8,7); }


/*-----QPlainTextEdit------------------------------------------------------------------------------------------------------------------------------------*/           
QPlainTextEdit { color: rgb(149, 214, 000); background-color: rgb(28,28,28); }

QPlainTextEdit:!editable { background-color: rgb(28,28,28); }


/*-----QTabBar------------------------------------------------------------------------------------------------------------------------------------*/  
QTabBar::tab { background-color: rgb(41,41,41); border-style: solid; border-width: 1px; border-radius: 3px; border-color: rgb(30,30,30); padding: 4px 5px; }

QTabBar::tab:hover { border-style: solid; border-width: 1px; border-color: rgb(181,181,181); }

QTabBar::tab:selected { color: rgb(8,8,8); border-style: solid; border-width: 1px; border-radius: 3px; border-color:rgb(0,0,0); background-color: rgb(255,144,38); }


/*-----QTabWidget------------------------------------------------------------------------------------------------------------------------------------*/           
QTabWidget::pane { background-color: rgb(41,41,41); }


/*-----QLineEdit------------------------------------------------------------------------------------------------------------------------------------*/ 
QLineEdit { background-color: rgb(78,78,78); color: rgb(188,188,188); border-color: rgb(61,61,61);  border-width: 1px; border-radius: 3px; padding: 2px; }


/*-----QProgressBar------------------------------------------------------------------------------------------------------------------------------------*/ 
QProgressBar { border: 1px solid #222222; text-align: center; color: rgb(255,255,255); font-size: 12px; font-weight: bold; padding: 1px; border-radius: 3px; }


/*-----QMessageBox------------------------------------------------------------------------------------------------------------------------------------*/           
QMessageBox { color: rgb(0,0,0); background-color: rgb(255,255,255); }

QMessageBox QLabel { color: rgb(26,26,26); background-color: transparent; }

QMessageBox QPushButton { min-width: 105px; min-height: 20px; color: rgb(26,26,26); background-color: rgb(240,240,240); border-width: 1px; border-style: outset; } 

QMessageBox QPushButton:selected { min-width: 105px; min-height: 20px; color: rgb(26,26,26); background-color: rgb(240,240,240); border-width: 2px; border-style: outset; }

QMessageBox QPushButton:hover { border-color: rgb(0,0,0); } 

QMessageBox QPushButton:default { border-width: 2px; } 


/*-----QComboBox------------------------------------------------------------------------------------------------------------------------------------*/                          
QComboBox { background-color: #2c2c2c; border: 1px solid rgb(29,29,29); padding-left: 6px; border-radius: 0.2em; }

QComboBox:on { background-color: rgb(255,144,38); color: rgb(8,8,8); }

QComboBox:disabled  { background-color: #323232; color: rgb(89,89,89); }

QComboBox QAbstractItemView { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; selection-background-color: rgb(255,144,38); selection-color: rgb(8,8,8); }


/*-----QRadioButton------------------------------------------------------------------------------------------------------------------------------------*/           
QRadioButton { color: #e6e6e6; }

QRadioButton::disabled { color: #656565; }

QRadioButton::indicator { border-radius: 0.2px; }

QRadioButton::indicator:checked {  border-radius: 5px; border: 1px inset black; background-color: rgb(255,144,38); width: 9px; height: 9px; }

QRadioButton::indicator:checked:hover { border: 0.5px inset black; border-radius: 5px; width: 9px; height: 9px; border-color: rgb(181,181,181); }

QRadioButton::indicator:unchecked { border: 0.5px inset black; border-radius: 5px; background-color: rgb(84,84,84);  width: 9px; height: 9px; }

QRadioButton::indicator:unchecked:hover { border: 0.5px inset black; border-radius: 5px; background-color: rgb(64,64,64); width: 9px; height: 9px }


/*-----QCheckBox------------------------------------------------------------------------------------------------------------------------------------*/           
QCheckBox { background-color: transparent; } 

QCheckBox::indicator { width: 13px; height: 13px; } 

QCheckBox::indicator:checked { border: 1px ridge black; background-color: rgb(255,144,38); width: 9px; height: 9px; } 

QCheckBox::indicator:checked:hover {  width: 9px; height: 9px; border-style: solid; border-width: 1px; border-color: rgb(181,181,181); }   

QCheckBox::indicator:unchecked { inset gray; background-color: rgb(78,78,78); width: 9px; height: 9px; }

QCheckBox::indicator:unchecked:hover { background-color: rgb(64,64,64); width: 9px; height: 9px; }  

QCheckBox::indicator:unchecked:disabled { background-color: rgb(84,84,84); width: 9px; height: 9px; }  

QCheckBox::indicator:disabled { background-color: rgb(121,79,39); width: 9px; height: 9px; } 

QCheckBox::disabled { color: rgb(89,89,89); }


/*-----QScrollBar-----------------------------------------------------------------------------------------------------------------------------------*/           
QScrollBar:vertical { border: 0px; background-color: #c8c8c8; width:10px; margin: 0px 0px 0px 0px; }

QScrollBar:horizontal { border: 0px; background-color: #c8c8c8; width:10px; margin: 0px 0px 0px 0px; }

QScrollBar::handle:vertical { min-height: 0px; border: 0px; background-color: rgb(255,144,38); border-radius: 4px; border-radius: 0.3em;}

QScrollBar::handle:horizontal { min-height: 0px; border: 0px; background-color: rgb(255,144,38); border-radius: 4px; border-radius: 0.3em;}

QScrollBar::add-line:vertical { height: 0px; subcontrol-position: bottom; subcontrol-origin: margin; }

QScrollBar::add-line:horizontal { height: 0px; subcontrol-position: bottom; subcontrol-origin: margin; }

QScrollBar::sub-line:vertical { height: 0px; subcontrol-position: top; subcontrol-origin: margin; }

QScrollBar::sub-line:horizontal { height: 0px; subcontrol-position: top; subcontrol-origin: margin; }


/*-----QSlider------------------------------------------------------------------------------------------------------------------------------------*/  
QSlider::groove:horizontal { background-color: transparent; height: 2px; }

QSlider::sub-page:horizontal { background-color: rgb(176,176,176); }

QSlider::add-page:horizontal { background-color: rgb(176,176,176); }

QSlider::handle:horizontal { background-color: rgb(255,144,37); width: 14px; margin-top: -6px; margin-bottom: -6px; border-radius: 3px; }

QSlider::sub-page:horizontal:disabled { background-color: #bbb; border-color: #999; }

QSlider::add-page:horizontal:disabled { background-color: #eee; border-color: #999; }

QSlider::handle:horizontal:disabled { background-color: rgb(121,79,39); border-radius: 3px; }

QSlider::groove:vertical { background-color: transparent; width: 2px; }

QSlider::sub-page:vertical { background-color: rgb(176,176,176); }

QSlider::add-page:vertical { background-color: rgb(176,176,176); }

QSlider::handle:vertical { background-color: rgb(255,144,37); height: 14px; margin-left: -6px; margin-right: -6px; border-radius: 3px; }

QSlider::sub-page:vertical:disabled { background-color: #bbb; border-color: #999; }

QSlider::add-page:vertical:disabled { background-color: #eee; border-color: #999; }

QSlider::handle:vertical:disabled { background-color: rgb(121,79,39); border-radius: 3px; }


/*-----QHeaderView------------------------------------------------------------------------------------------------------------------------------------*/           
QHeaderView { background-color: #3b3b3b; border: 0px transparent transparent; }

QHeaderView:section { color: #f8f9f9; background-color: #3b3b3b; border: 0px transparent transparent; }


/*-----QGroupBox------------------------------------------------------------------------------------------------------------------------------------*/ 
QGroupBox { margin-top: 22px; }

QGroupBox::title { background-color: #404040; color: #ffffff; subcontrol-origin: margin; subcontrol-position: top left; padding: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; }

QGroupBox::title::disabled { background-color: #404040; color: #656565; subcontrol-origin: margin; subcontrol-position: top left; padding: 5px; border-top-left-radius: 3px; border-top-right-radius: 3px; }


/*-----QTableView------------------------------------------------------------------------------------------------------------------------------------*/           
QTableView { color: rgb(153,153,153); background-color: #0d0d0d; border: 1px solid #3b3b3b; }

QTableView QTableCornerButton:section { background-color: #3b3b3b; border: 1px solid #3b3b3b; }


/*-----QTreeView-----------------------------------------------------------------------------------------------------------------------------------*/           
QTreeView { background-color: rgb(25,25,25); border: 0px transparent transparent; }

QTreeView:disabled { background-color: rgb(25,25,25);  color: #787878; }

QTreeView:item:hover { color: rgb(8,8,8); background-color: rgb(255,144,37); border: 0px transparent transparent; }


/*-----QListView------------------------------------------------------------------------------------------------------------------------------------*/           
QListView { background-color: rgb(25,25,25); border: 0px transparent transparent; }

QListView:disabled { background-color: rgb(25,25,25); color: #787878; }

QListView:item { background-color: transparent; }

QListView:item:hover { color: rgb(8,8,8); background-color: rgb(255,144,37); border: 0px transparent transparent; }

QListView:item:selected { color: #ffffff;}

QListView:item:disabled { color: #0d0d0d; border: 0px transparent transparent; }





